header{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: darkslateblue;
}
h1{
  color: antiquewhite;
}
p{
  font: size 30px;;
}
body{
  background-color: darkcyan;
}
div{
  text-align: center;
}
p{
  text-align: center;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
div.border {
  border: 1px solid darkcyan;
}
pre{
  font-family: serif;
  text-align: center;
}
main {
  height: 300px;
  width: auto;
}
img
{
  border: solid grey 2px;
  float: right;
}
.contact{
  text-align: left;
}
th,td{
  padding: 30px;
}
.sidebar{
  float: left;
  width: 778px;;
  background-color: mediumturquoise;
  border: black solid 1px;
}

.column{
  float: left;
  width: 415px;
}
.headerimg{
  float: left;
  width: 20px;
}
div.img 